## 1) Loading Data

In [126]:
import urllib
from scipy import stats
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data'
raw_csv = urllib.request.urlopen(path)
col_names = range(23)
df = pd.read_csv(raw_csv, names = col_names)
print(len(df))

8124

In [127]:
df.head()

  0  1  2  3  4  5  6  7  8  9  ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

In [128]:
num_columns = df.shape[1]
map_dic = {}
for i in range(num_columns):
    unique_array = df[i].unique()
    N = len(unique_array)
#    print(N)
    map_dic[i] = {}
    for j in range(N):
        map_dic[i][unique_array[j]] = j
    df[i] = df[i].map(map_dic[i])

In [129]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
2,1,1,0,2,0,2,0,0,1,1,...,0,0,0,0,0,0,0,1,1,2
3,0,0,1,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,3,1,3,0,1,1,0,...,0,0,0,0,0,0,1,1,2,1

In [130]:
for i in range(1, num_columns):
    unique_array = df[i].unique()
    N = len(unique_array)
    map_dic_sub = {}
    for j in range(N):
        if j == 0:
            map_dic_sub[j] = 0
        else:
            map_dic_sub[j] = j / float(N - 1)        
    df[i] = df[i].map(map_dic_sub)

In [131]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,0.0,0.000000,0.000000,0.0,0.000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
1,1,0.0,0.000000,0.111111,0.0,0.125,0.0,0.0,1.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.166667
2,1,0.2,0.000000,0.222222,0.0,0.250,0.0,0.0,1.0,0.090909,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.333333
3,0,0.0,0.333333,0.222222,0.0,0.000,0.0,0.0,0.0,0.090909,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
4,1,0.0,0.000000,0.333333,1.0,0.375,0.0,1.0,1.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.25,0.125,0.4,0.166667

In [132]:
data_df = df.iloc[:, 1:]

In [133]:
data_df.head()

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
0,0.0,0.000000,0.000000,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
1,0.0,0.000000,0.111111,0.0,0.125,0.0,0.0,1.0,0.000000,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.166667
2,0.2,0.000000,0.222222,0.0,0.250,0.0,0.0,1.0,0.090909,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.333333
3,0.0,0.333333,0.222222,0.0,0.000,0.0,0.0,0.0,0.090909,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
4,0.0,0.000000,0.333333,1.0,0.375,0.0,1.0,1.0,0.000000,1.0,...,0.0,0.0,0.0,0,0.0,0.0,0.25,0.125,0.4,0.166667

In [134]:
data_array = data_df.as_matrix()

In [135]:
print(type(data_array), data_array.shape)

<class 'numpy.ndarray'> (8124, 22)

In [136]:
label_df = df.iloc[:, 0:1]

In [137]:
label_df.head()

   0
0  0
1  1
2  1
3  0
4  1

In [138]:
label_array = label_df.as_matrix()

In [139]:
print(type(label_array), label_array.shape)

<class 'numpy.ndarray'> (8124, 1)

In [140]:
label_array_one_hot = []
for i in label_array:
    if i == 0:
        one_hot = [1, 0]
    else:
        one_hot = [0, 1]
    label_array_one_hot.append(one_hot)

In [141]:
label_array_one_hot =  np.array(label_array_one_hot)

In [142]:
print(type(label_array_one_hot), label_array_one_hot.shape)

<class 'numpy.ndarray'> (8124, 2)

In [143]:
train = {'data': None, 'labels': None}
validation = {'data': None, 'labels': None}
test = {'data': None, 'labels': None}

In [144]:
import random
pick = random.random()
train_data = []
train_labels = []
validation_data = []
validation_labels = []
test_data = []
test_labels = []
for i in range(len(data_array)):
    pick = random.random()
    if pick < 0.80:
        train_data.append(data_array[i])
        train_labels.append(label_array_one_hot[i])
    elif pick >= 0.80 and pick < 0.85:
        validation_data.append(data_array[i])
        validation_labels.append(label_array_one_hot[i])
    elif pick >= 0.85:
        test_data.append(data_array[i])
        test_labels.append(label_array_one_hot[i])
        
train['data'] = np.array(train_data)
train['labels'] = np.array(train_labels)
validation['data'] = np.array(validation_data)
validation['labels'] = np.array(validation_labels)
test['data'] = np.array(test_data)
test['labels'] = np.array(test_labels)

In [158]:
print(train['data'].shape, train['labels'].shape)

(6498, 22) (6498, 2)

In [146]:
print(validation['data'].shape, validation['labels'].shape)

(407, 22) (407, 2)

In [147]:
print(test['data'].shape, test['labels'].shape)

(1219, 22) (1219, 2)

In [222]:
train_data = (np.array(train['data']))    # np !!
train_labels = (np.array(train['labels']))

validation_data = (np.array(validation['data']))
validation_labels = (np.array(validation['labels']))

test_data = (np.array(test['data']))
test_labels = (np.array(test['labels']))

In [232]:
validation_data[1]

array([ 0.        ,  0.33333333,  0.11111111,  0.        ,  0.125     ,
        0.        ,  0.        ,  1.        ,  0.09090909,  0.        ,
        0.25      ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.33333333])

In [247]:
test_labels[1]

array([1, 0])

In [246]:
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.examples.tutorials.mnist import input_data
import math
import tensorflow as tf

#mnist = input_data.read_data_sets("MNIST_data/", one_hot=True)

batch_size = 50     # 배치 사이즈
training_epochs = 100  
learning_rate = 0.05   

epoch_list = []
train_error_list = []
validation_error_list = []
test_accuracy_list = []
diff_index_list = []

# Network Parameters
n_input = 22 # data input (속성값의 수)
n_hidden_1 = 10 # 1st layer number of features
n_hidden_2 = 2 # 2nd layer number of features
n_classes = 2 # total classes (0 or 1)
    
# Data Preparation
x = tf.placeholder(tf.float32, [None, n_input])
y_target = tf.placeholder(tf.float32, [None, n_classes])

# Model Construction
# Store layers weight & bias
weights = {
    'W1': tf.Variable(tf.random_normal([n_input, n_hidden_1])),
    'W2': tf.Variable(tf.random_normal([n_hidden_1, n_hidden_2])),
    'out': tf.Variable(tf.random_normal([n_hidden_2, n_classes]))
}

biases = {
    'b1': tf.Variable(tf.random_normal([n_hidden_1])),
    'b2': tf.Variable(tf.random_normal([n_hidden_2])),
    'out': tf.Variable(tf.random_normal([n_classes]))
}

# 1st Hidden layer with RELU activation
u2 = tf.matmul(x, weights['W1']) + biases['b1']
z2 = tf.nn.relu(u2)

# 2ndHidden layer with RELU activation
u3 = tf.matmul(z2, weights['W2']) + biases['b2']
z3 = tf.nn.relu(u3)

# Output layer with linear activation
u_out = tf.matmul(z3, weights['out']) + biases['out']

# Target Setup
error = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=u_out, labels=y_target))
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(error)

# Accuracy   
prediction_and_ground_truth = tf.equal(tf.argmax(u_out, 1), tf.argmax(y_target, 1))
accuracy = tf.reduce_mean(tf.cast(prediction_and_ground_truth, tf.float32))


with tf.Session() as sess:
    init = tf.global_variables_initializer()
    sess.run(init)
    
    #total_batch = int(math.ceil(mnist.train.num_examples/float(batch_size)))
    total_batch = int(math.ceil( len(train_data) /float(batch_size)))
    #print("Total batch: %d" % total_batch)    

    for epoch in range(training_epochs):
        epoch_list.append(epoch)
        # Train Error Value
        train_error_value = sess.run(error, feed_dict={x: train_data, y_target: train_labels})
        train_error_list.append(train_error_value)
        
        validation_error_value = sess.run(error, feed_dict={x: validation_data, y_target: validation_labels})
        validation_error_list.append(validation_error_value)

        test_accuracy_value = sess.run(accuracy, feed_dict={x: test_data, y_target: test_labels})
        test_accuracy_list.append(test_accuracy_value) 
        print("Epoch: {0:2d}, Train Error: {1:0.5f}, Validation Error: {2:0.5f}, Test Accuracy: {3:0.5f}".format(epoch, train_error_value, validation_error_value, test_accuracy_value))

        for i in range(total_batch):

             batch_images = train_data[i*batch_size: (i+1)*batch_size]
             batch_labels = train_labels[i*batch_size: (i+1)*batch_size]
             sess.run(optimizer, feed_dict={x: batch_images, y_target: batch_labels})

Epoch:  0, Train Error: 1.27675, Validation Error: 1.28372, Test Accuracy: 0.50369
Epoch:  1, Train Error: 0.63970, Validation Error: 0.65660, Test Accuracy: 0.73503
Epoch:  2, Train Error: 0.63486, Validation Error: 0.65604, Test Accuracy: 0.74733
Epoch:  3, Train Error: 0.63766, Validation Error: 0.66174, Test Accuracy: 0.75882
Epoch:  4, Train Error: 0.65011, Validation Error: 0.67535, Test Accuracy: 0.76620
Epoch:  5, Train Error: 0.64552, Validation Error: 0.67038, Test Accuracy: 0.77523
Epoch:  6, Train Error: 0.61797, Validation Error: 0.64042, Test Accuracy: 0.77851
Epoch:  7, Train Error: 0.56172, Validation Error: 0.57788, Test Accuracy: 0.78343
Epoch:  8, Train Error: 0.49124, Validation Error: 0.50112, Test Accuracy: 0.77933
Epoch:  9, Train Error: 0.39777, Validation Error: 0.39917, Test Accuracy: 0.84906
Epoch: 10, Train Error: 0.31307, Validation Error: 0.31608, Test Accuracy: 0.87777
Epoch: 11, Train Error: 0.25887, Validation Error: 0.26133, Test Accuracy: 0.89171
Epoch: 12, Train Error: 0.22551, Validation Error: 0.22612, Test Accuracy: 0.90812
Epoch: 13, Train Error: 0.20480, Validation Error: 0.20302, Test Accuracy: 0.92453
Epoch: 14, Train Error: 0.19417, Validation Error: 0.19085, Test Accuracy: 0.92863
Epoch: 15, Train Error: 0.18967, Validation Error: 0.18612, Test Accuracy: 0.93109
Epoch: 16, Train Error: 0.18678, Validation Error: 0.18252, Test Accuracy: 0.92699
Epoch: 17, Train Error: 0.18232, Validation Error: 0.17823, Test Accuracy: 0.92617
Epoch: 18, Train Error: 0.17571, Validation Error: 0.17192, Test Accuracy: 0.92863
Epoch: 19, Train Error: 0.17153, Validation Error: 0.16821, Test Accuracy: 0.92945
Epoch: 20, Train Error: 0.16720, Validation Error: 0.16437, Test Accuracy: 0.92699
Epoch: 21, Train Error: 0.15982, Validation Error: 0.15744, Test Accuracy: 0.92945
Epoch: 22, Train Error: 0.15250, Validation Error: 0.15042, Test Accuracy: 0.93437
Epoch: 23, Train Error: 0.14160, Validation Error: 0.14172, Test Accuracy: 0.94011
Epoch: 24, Train Error: 0.13076, Validation Error: 0.13205, Test Accuracy: 0.94422
Epoch: 25, Train Error: 0.12071, Validation Error: 0.12289, Test Accuracy: 0.94504
Epoch: 26, Train Error: 0.11147, Validation Error: 0.11384, Test Accuracy: 0.94832
Epoch: 27, Train Error: 0.10235, Validation Error: 0.10492, Test Accuracy: 0.95160
Epoch: 28, Train Error: 0.09369, Validation Error: 0.09640, Test Accuracy: 0.95570
Epoch: 29, Train Error: 0.08534, Validation Error: 0.08860, Test Accuracy: 0.95570
Epoch: 30, Train Error: 0.07803, Validation Error: 0.08179, Test Accuracy: 0.95816
Epoch: 31, Train Error: 0.07158, Validation Error: 0.07575, Test Accuracy: 0.96062
Epoch: 32, Train Error: 0.06575, Validation Error: 0.07036, Test Accuracy: 0.96308
Epoch: 33, Train Error: 0.06039, Validation Error: 0.06533, Test Accuracy: 0.96719
Epoch: 34, Train Error: 0.05577, Validation Error: 0.06087, Test Accuracy: 0.97047
Epoch: 35, Train Error: 0.05174, Validation Error: 0.05696, Test Accuracy: 0.97293
Epoch: 36, Train Error: 0.04809, Validation Error: 0.05348, Test Accuracy: 0.97539
Epoch: 37, Train Error: 0.04481, Validation Error: 0.05036, Test Accuracy: 0.97703
Epoch: 38, Train Error: 0.04166, Validation Error: 0.04712, Test Accuracy: 0.97867
Epoch: 39, Train Error: 0.03898, Validation Error: 0.04427, Test Accuracy: 0.97949
Epoch: 40, Train Error: 0.03662, Validation Error: 0.04174, Test Accuracy: 0.98031
Epoch: 41, Train Error: 0.03434, Validation Error: 0.03923, Test Accuracy: 0.98113
Epoch: 42, Train Error: 0.03221, Validation Error: 0.03693, Test Accuracy: 0.98359
Epoch: 43, Train Error: 0.03024, Validation Error: 0.03474, Test Accuracy: 0.98359
Epoch: 44, Train Error: 0.02847, Validation Error: 0.03271, Test Accuracy: 0.98441
Epoch: 45, Train Error: 0.02686, Validation Error: 0.03085, Test Accuracy: 0.98523
Epoch: 46, Train Error: 0.02535, Validation Error: 0.02906, Test Accuracy: 0.98605
Epoch: 47, Train Error: 0.02389, Validation Error: 0.02733, Test Accuracy: 0.98687
Epoch: 48, Train Error: 0.02253, Validation Error: 0.02569, Test Accuracy: 0.98769
Epoch: 49, Train Error: 0.02131, Validation Error: 0.02421, Test Accuracy: 0.98769
Epoch: 50, Train Error: 0.02013, Validation Error: 0.02283, Test Accuracy: 0.98934
Epoch: 51, Train Error: 0.01904, Validation Error: 0.02155, Test Accuracy: 0.99180
Epoch: 52, Train Error: 0.01798, Validation Error: 0.02037, Test Accuracy: 0.99262
Epoch: 53, Train Error: 0.01701, Validation Error: 0.01928, Test Accuracy: 0.99344
Epoch: 54, Train Error: 0.01609, Validation Error: 0.01826, Test Accuracy: 0.99344
Epoch: 55, Train Error: 0.01520, Validation Error: 0.01729, Test Accuracy: 0.99426
Epoch: 56, Train Error: 0.01441, Validation Error: 0.01641, Test Accuracy: 0.99508
Epoch: 57, Train Error: 0.01367, Validation Error: 0.01557, Test Accuracy: 0.99590
Epoch: 58, Train Error: 0.01300, Validation Error: 0.01477, Test Accuracy: 0.99672
Epoch: 59, Train Error: 0.01239, Validation Error: 0.01405, Test Accuracy: 0.99672
Epoch: 60, Train Error: 0.01167, Validation Error: 0.01335, Test Accuracy: 0.99754
Epoch: 61, Train Error: 0.01102, Validation Error: 0.01258, Test Accuracy: 0.99754
Epoch: 62, Train Error: 0.01044, Validation Error: 0.01185, Test Accuracy: 0.99754
Epoch: 63, Train Error: 0.00993, Validation Error: 0.01124, Test Accuracy: 0.99754
Epoch: 64, Train Error: 0.00946, Validation Error: 0.01067, Test Accuracy: 0.99754
Epoch: 65, Train Error: 0.00903, Validation Error: 0.01015, Test Accuracy: 0.99754
Epoch: 66, Train Error: 0.00867, Validation Error: 0.00970, Test Accuracy: 0.99754
Epoch: 67, Train Error: 0.00817, Validation Error: 0.00918, Test Accuracy: 0.99754
Epoch: 68, Train Error: 0.00774, Validation Error: 0.00864, Test Accuracy: 0.99836
Epoch: 69, Train Error: 0.00735, Validation Error: 0.00817, Test Accuracy: 0.99836
Epoch: 70, Train Error: 0.00698, Validation Error: 0.00774, Test Accuracy: 0.99836
Epoch: 71, Train Error: 0.00666, Validation Error: 0.00732, Test Accuracy: 0.99836
Epoch: 72, Train Error: 0.00634, Validation Error: 0.00693, Test Accuracy: 0.99836
Epoch: 73, Train Error: 0.00604, Validation Error: 0.00658, Test Accuracy: 0.99918
Epoch: 74, Train Error: 0.00577, Validation Error: 0.00626, Test Accuracy: 0.99918
Epoch: 75, Train Error: 0.00551, Validation Error: 0.00596, Test Accuracy: 0.99918
Epoch: 76, Train Error: 0.00526, Validation Error: 0.00569, Test Accuracy: 0.99918
Epoch: 77, Train Error: 0.00503, Validation Error: 0.00545, Test Accuracy: 0.99918
Epoch: 78, Train Error: 0.00482, Validation Error: 0.00522, Test Accuracy: 0.99918
Epoch: 79, Train Error: 0.00463, Validation Error: 0.00500, Test Accuracy: 0.99918
Epoch: 80, Train Error: 0.00445, Validation Error: 0.00480, Test Accuracy: 0.99918
Epoch: 81, Train Error: 0.00428, Validation Error: 0.00462, Test Accuracy: 0.99918
Epoch: 82, Train Error: 0.00411, Validation Error: 0.00444, Test Accuracy: 0.99918
Epoch: 83, Train Error: 0.00396, Validation Error: 0.00427, Test Accuracy: 0.99918
Epoch: 84, Train Error: 0.00382, Validation Error: 0.00412, Test Accuracy: 1.00000
Epoch: 85, Train Error: 0.00368, Validation Error: 0.00397, Test Accuracy: 1.00000
Epoch: 86, Train Error: 0.00355, Validation Error: 0.00383, Test Accuracy: 1.00000
Epoch: 87, Train Error: 0.00343, Validation Error: 0.00368, Test Accuracy: 1.00000
Epoch: 88, Train Error: 0.00330, Validation Error: 0.00355, Test Accuracy: 1.00000
Epoch: 89, Train Error: 0.00319, Validation Error: 0.00342, Test Accuracy: 1.00000
Epoch: 90, Train Error: 0.00308, Validation Error: 0.00330, Test Accuracy: 1.00000
Epoch: 91, Train Error: 0.00298, Validation Error: 0.00319, Test Accuracy: 1.00000
Epoch: 92, Train Error: 0.00289, Validation Error: 0.00308, Test Accuracy: 1.00000
Epoch: 93, Train Error: 0.00280, Validation Error: 0.00298, Test Accuracy: 1.00000
Epoch: 94, Train Error: 0.00271, Validation Error: 0.00288, Test Accuracy: 1.00000
Epoch: 95, Train Error: 0.00263, Validation Error: 0.00279, Test Accuracy: 1.00000
Epoch: 96, Train Error: 0.00256, Validation Error: 0.00271, Test Accuracy: 1.00000
Epoch: 97, Train Error: 0.00248, Validation Error: 0.00263, Test Accuracy: 1.00000
Epoch: 98, Train Error: 0.00241, Validation Error: 0.00256, Test Accuracy: 1.00000
Epoch: 99, Train Error: 0.00235, Validation Error: 0.00248, Test Accuracy: 1.00000

##