### 독버섯 vs. 식용버섯 - Multi-layer Neural Network으로 구분하기
#### 전기전자통신공학과 정보통신공학전공 1632061005 신예진

***

### Pandas DataFrame 및 Numpy Array를 사용하여 데이터 준비하기

#### 1) Loading Data

In [3]:
import urllib
from scipy import stats
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data'
raw_csv = urllib.request.urlopen(path)
col_names = range(23)
df = pd.read_csv(raw_csv, names = col_names)
print(len(df))

8124

In [4]:
df.head()

  0  1  2  3  4  5  6  7  8  9  ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

#### 2) Categorical Attribute를 Numerical Attribute로 변환

In [5]:
num_columns = df.shape[1]
map_dic = {}
for i in range(num_columns):
    unique_array = df[i].unique()
    N = len(unique_array)
    map_dic[i] = {}
    for j in range(N):
        map_dic[i][unique_array[j]] = j
    df[i] = df[i].map(map_dic[i])

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
2,1,1,0,2,0,2,0,0,1,1,...,0,0,0,0,0,0,0,1,1,2
3,0,0,1,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,3,1,3,0,1,1,0,...,0,0,0,0,0,0,1,1,2,1

#### 3) 각 컬럼별 Normalization

In [7]:
for i in range(1, num_columns):
    unique_array = df[i].unique()
    N = len(unique_array)
    map_dic_sub = {}
    for j in range(N):
        if j == 0:
            map_dic_sub[j] = 0
        else:
            map_dic_sub[j] = j / float(N - 1)        
    df[i] = df[i].map(map_dic_sub)

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,0.0,0.000000,0.000000,0.0,0.000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
1,1,0.0,0.000000,0.111111,0.0,0.125,0.0,0.0,1.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.166667
2,1,0.2,0.000000,0.222222,0.0,0.250,0.0,0.0,1.0,0.090909,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.333333
3,0,0.0,0.333333,0.222222,0.0,0.000,0.0,0.0,0.0,0.090909,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
4,1,0.0,0.000000,0.333333,1.0,0.375,0.0,1.0,1.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.25,0.125,0.4,0.166667

#### 4) 데이터 전처리 작업

In [9]:
data_df = df.iloc[:, 1:]

In [10]:
data_df.head()

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
0,0.0,0.000000,0.000000,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
1,0.0,0.000000,0.111111,0.0,0.125,0.0,0.0,1.0,0.000000,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.166667
2,0.2,0.000000,0.222222,0.0,0.250,0.0,0.0,1.0,0.090909,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.333333
3,0.0,0.333333,0.222222,0.0,0.000,0.0,0.0,0.0,0.090909,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
4,0.0,0.000000,0.333333,1.0,0.375,0.0,1.0,1.0,0.000000,1.0,...,0.0,0.0,0.0,0,0.0,0.0,0.25,0.125,0.4,0.166667

In [11]:
data_array = data_df.as_matrix()

In [13]:
print (type(data_array), data_array.shape)

<class 'numpy.ndarray'> (8124, 22)

In [14]:
label_df = df.iloc[:, 0:1]

In [15]:
label_df.head()

   0
0  0
1  1
2  1
3  0
4  1

In [16]:
label_array = label_df.as_matrix()

In [17]:
print(type(label_array), label_array.shape)

<class 'numpy.ndarray'> (8124, 1)

In [19]:
label_array_one_hot = []
for i in label_array:
    if i == 0:
        one_hot = [1, 0]
    else:
        one_hot = [0, 1]
    label_array_one_hot.append(one_hot)

In [21]:
label_array_one_hot =  np.array(label_array_one_hot)

In [22]:
print(type(label_array_one_hot), label_array_one_hot.shape)

<class 'numpy.ndarray'> (8124, 2)

In [23]:
train = {'data': None, 'labels': None}
validation = {'data': None, 'labels': None}
test = {'data': None, 'labels': None}

In [25]:
import random
pick = random.random()
train_data = []
train_labels = []
validation_data = []
validation_labels = []
test_data = []
test_labels = []
for i in range(len(data_array)):
    pick = random.random()
    if pick < 0.80:
        train_data.append(data_array[i])
        train_labels.append(label_array_one_hot[i])
    elif pick >= 0.80 and pick < 0.85:
        validation_data.append(data_array[i])
        validation_labels.append(label_array_one_hot[i])
    elif pick >= 0.85:
        test_data.append(data_array[i])
        test_labels.append(label_array_one_hot[i])
        
train['data'] = np.array(train_data)
train['labels'] = np.array(train_labels)
validation['data'] = np.array(validation_data)
validation['labels'] = np.array(validation_labels)
test['data'] = np.array(test_data)
test['labels'] = np.array(test_labels)

In [26]:
print(train['data'].shape, train['labels'].shape)

(6501, 22) (6501, 2)

In [27]:
print(validation['data'].shape, validation['labels'].shape)

(410, 22) (410, 2)

In [28]:
print(test['data'].shape, test['labels'].shape)

(1213, 22) (1213, 2)

***

### Multi-layer Neural Network 모델 생성 및 테스트하기
#### * Homework

In [39]:
import tensorflow as tf

batch_size = 30 # batch size는 30으로 설정
training_epochs = 100 
learning_rate = 0.05 

epoch_list = []
train_error_list = []
validation_error_list = []
test_accuracy_list = []
diff_index_list = []

# Network Parameters
n_input = 22 # 데이터의 컬럼은 22개 
n_hidden_1 = 10 # hidden laye의 갯수는 2개. 첫 번째 hidden layer의 neuron 갯수는 10개로 설정
n_hidden_2 = 10 # hidden laye의 갯수는 2개. 첫 번째 hidden layer의 neuron 갯수는 10개로 설정
n_classes = 2 # total classes (두 개의 클래스 : 독버섯, 식용버섯)
    
# Data Preparation
x = tf.placeholder(tf.float32, [None, n_input])
y_target = tf.placeholder(tf.float32, [None, n_classes])

# Model Construction
# Store layers weight & bias
weights = {
    'W1': tf.Variable(tf.random_normal([n_input, n_hidden_1])),
    'W2': tf.Variable(tf.random_normal([n_hidden_1, n_hidden_2])),
    'out': tf.Variable(tf.random_normal([n_hidden_2, n_classes]))
}

biases = {
    'b1': tf.Variable(tf.random_normal([n_hidden_1])),
    'b2': tf.Variable(tf.random_normal([n_hidden_2])),
    'out': tf.Variable(tf.random_normal([n_classes]))
}

# 1st Hidden layer with RELU activation
u2 = tf.matmul(x, weights['W1']) + biases['b1']
z2 = tf.nn.relu(u2)

# 2nd Hidden layer with RELU activation
u3 = tf.matmul(z2, weights['W2']) + biases['b2']
z3 = tf.nn.relu(u3)

# Output layer with linear activation
u_out = tf.matmul(z3, weights['out']) + biases['out']

# Target Setup
error = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=u_out, labels=y_target))
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(error)

# Accuracy   
prediction_and_ground_truth = tf.equal(tf.argmax(u_out, 1), tf.argmax(y_target, 1))
accuracy = tf.reduce_mean(tf.cast(prediction_and_ground_truth, tf.float32))

In [47]:
import math

with tf.Session() as sess:
    init = tf.global_variables_initializer()
    sess.run(init)
    
    total_batch = int(math.ceil(len(train['data'])/float(batch_size)))
    print("Total batch: %d" % total_batch)
    for epoch in range(training_epochs):
        epoch_list.append(epoch)
        # Train Error Value
        train_error_value = sess.run(error, feed_dict={x: train['data'], y_target: train['labels']})
        train_error_list.append(train_error_value)
        
        validation_error_value = sess.run(error, feed_dict={x: validation['data'], y_target: validation['labels']})
        validation_error_list.append(validation_error_value)
        
        test_accuracy_value = sess.run(accuracy, feed_dict={x: test['data'], y_target: test['labels']})
        test_accuracy_list.append(test_accuracy_value) 
        print("Epoch: {0:2d}, Train Error: {1:0.5f}, Validation Error: {2:0.5f}, Test Accuracy: {3:0.5f}".format(epoch, train_error_value, validation_error_value, test_accuracy_value))
        
        for i in range(total_batch):
            batch_data = train['data'][i*batch_size: (i+1)*batch_size]
            batch_labels = train['labels'][i*batch_size: (i+1)*batch_size]
            sess.run(optimizer, feed_dict={x: batch_data, y_target: batch_labels})

Total batch: 131
Epoch:  0, Train Error: 19.99610, Validation Error: 19.01801, Test Accuracy: 0.49382
Epoch:  1, Train Error: 0.67010, Validation Error: 0.72504, Test Accuracy: 0.68755
Epoch:  2, Train Error: 0.41736, Validation Error: 0.45827, Test Accuracy: 0.82110
Epoch:  3, Train Error: 0.28035, Validation Error: 0.29717, Test Accuracy: 0.91014
Epoch:  4, Train Error: 0.22640, Validation Error: 0.23690, Test Accuracy: 0.92910
Epoch:  5, Train Error: 0.19203, Validation Error: 0.20307, Test Accuracy: 0.93652
Epoch:  6, Train Error: 0.17383, Validation Error: 0.17932, Test Accuracy: 0.94394
Epoch:  7, Train Error: 0.15444, Validation Error: 0.16155, Test Accuracy: 0.95301
Epoch:  8, Train Error: 0.15200, Validation Error: 0.15493, Test Accuracy: 0.95796
Epoch:  9, Train Error: 0.15636, Validation Error: 0.15493, Test Accuracy: 0.95383
Epoch: 10, Train Error: 0.15239, Validation Error: 0.15213, Test Accuracy: 0.95218
Epoch: 11, Train Error: 0.15645, Validation Error: 0.15390, Test Accuracy: 0.94312
Epoch: 12, Train Error: 0.15901, Validation Error: 0.15463, Test Accuracy: 0.93322
Epoch: 13, Train Error: 0.15781, Validation Error: 0.15183, Test Accuracy: 0.93405
Epoch: 14, Train Error: 0.14855, Validation Error: 0.14253, Test Accuracy: 0.94147
Epoch: 15, Train Error: 0.14057, Validation Error: 0.13325, Test Accuracy: 0.94477
Epoch: 16, Train Error: 0.13232, Validation Error: 0.12454, Test Accuracy: 0.94889
Epoch: 17, Train Error: 0.12355, Validation Error: 0.11568, Test Accuracy: 0.95466
Epoch: 18, Train Error: 0.11349, Validation Error: 0.10620, Test Accuracy: 0.95960
Epoch: 19, Train Error: 0.10727, Validation Error: 0.09888, Test Accuracy: 0.96125
Epoch: 20, Train Error: 0.09874, Validation Error: 0.09154, Test Accuracy: 0.96208
Epoch: 21, Train Error: 0.09314, Validation Error: 0.08581, Test Accuracy: 0.96373
Epoch: 22, Train Error: 0.08715, Validation Error: 0.08008, Test Accuracy: 0.96785
Epoch: 23, Train Error: 0.08217, Validation Error: 0.07487, Test Accuracy: 0.97115
Epoch: 24, Train Error: 0.07733, Validation Error: 0.06980, Test Accuracy: 0.97362
Epoch: 25, Train Error: 0.07247, Validation Error: 0.06500, Test Accuracy: 0.97527
Epoch: 26, Train Error: 0.06842, Validation Error: 0.06103, Test Accuracy: 0.97692
Epoch: 27, Train Error: 0.06429, Validation Error: 0.05725, Test Accuracy: 0.97857
Epoch: 28, Train Error: 0.06021, Validation Error: 0.05343, Test Accuracy: 0.98021
Epoch: 29, Train Error: 0.05660, Validation Error: 0.05043, Test Accuracy: 0.98104
Epoch: 30, Train Error: 0.05266, Validation Error: 0.04713, Test Accuracy: 0.98516
Epoch: 31, Train Error: 0.04948, Validation Error: 0.04462, Test Accuracy: 0.98516
Epoch: 32, Train Error: 0.04644, Validation Error: 0.04223, Test Accuracy: 0.98599
Epoch: 33, Train Error: 0.04347, Validation Error: 0.04046, Test Accuracy: 0.98599
Epoch: 34, Train Error: 0.04109, Validation Error: 0.03837, Test Accuracy: 0.98681
Epoch: 35, Train Error: 0.03847, Validation Error: 0.03617, Test Accuracy: 0.98846
Epoch: 36, Train Error: 0.03631, Validation Error: 0.03433, Test Accuracy: 0.98928
Epoch: 37, Train Error: 0.03316, Validation Error: 0.03244, Test Accuracy: 0.99093
Epoch: 38, Train Error: 0.03190, Validation Error: 0.03137, Test Accuracy: 0.99093
Epoch: 39, Train Error: 0.03021, Validation Error: 0.02993, Test Accuracy: 0.99093
Epoch: 40, Train Error: 0.02852, Validation Error: 0.02883, Test Accuracy: 0.99093
Epoch: 41, Train Error: 0.02686, Validation Error: 0.02747, Test Accuracy: 0.99093
Epoch: 42, Train Error: 0.02470, Validation Error: 0.02651, Test Accuracy: 0.99176
Epoch: 43, Train Error: 0.02410, Validation Error: 0.02612, Test Accuracy: 0.99176
Epoch: 44, Train Error: 0.02239, Validation Error: 0.02569, Test Accuracy: 0.99176
Epoch: 45, Train Error: 0.02136, Validation Error: 0.02532, Test Accuracy: 0.99258
Epoch: 46, Train Error: 0.02036, Validation Error: 0.02456, Test Accuracy: 0.99340
Epoch: 47, Train Error: 0.01940, Validation Error: 0.02414, Test Accuracy: 0.99340
Epoch: 48, Train Error: 0.01881, Validation Error: 0.02357, Test Accuracy: 0.99340
Epoch: 49, Train Error: 0.01767, Validation Error: 0.02376, Test Accuracy: 0.99340
Epoch: 50, Train Error: 0.01687, Validation Error: 0.02320, Test Accuracy: 0.99340
Epoch: 51, Train Error: 0.01636, Validation Error: 0.02276, Test Accuracy: 0.99340
Epoch: 52, Train Error: 0.01560, Validation Error: 0.02384, Test Accuracy: 0.99423
Epoch: 53, Train Error: 0.01518, Validation Error: 0.02326, Test Accuracy: 0.99423
Epoch: 54, Train Error: 0.01463, Validation Error: 0.02347, Test Accuracy: 0.99423
Epoch: 55, Train Error: 0.01426, Validation Error: 0.02247, Test Accuracy: 0.99423
Epoch: 56, Train Error: 0.01385, Validation Error: 0.02262, Test Accuracy: 0.99423
Epoch: 57, Train Error: 0.01343, Validation Error: 0.02154, Test Accuracy: 0.99423
Epoch: 58, Train Error: 0.01311, Validation Error: 0.02173, Test Accuracy: 0.99423
Epoch: 59, Train Error: 0.01283, Validation Error: 0.02201, Test Accuracy: 0.99423
Epoch: 60, Train Error: 0.01245, Validation Error: 0.02101, Test Accuracy: 0.99423
Epoch: 61, Train Error: 0.01216, Validation Error: 0.02099, Test Accuracy: 0.99423
Epoch: 62, Train Error: 0.01182, Validation Error: 0.02012, Test Accuracy: 0.99423
Epoch: 63, Train Error: 0.01169, Validation Error: 0.02033, Test Accuracy: 0.99423
Epoch: 64, Train Error: 0.01149, Validation Error: 0.02075, Test Accuracy: 0.99423
Epoch: 65, Train Error: 0.01133, Validation Error: 0.02084, Test Accuracy: 0.99423
Epoch: 66, Train Error: 0.01107, Validation Error: 0.02061, Test Accuracy: 0.99505
Epoch: 67, Train Error: 0.01078, Validation Error: 0.02033, Test Accuracy: 0.99505
Epoch: 68, Train Error: 0.01027, Validation Error: 0.01912, Test Accuracy: 0.99588
Epoch: 69, Train Error: 0.01005, Validation Error: 0.01931, Test Accuracy: 0.99588
Epoch: 70, Train Error: 0.00989, Validation Error: 0.01956, Test Accuracy: 0.99588
Epoch: 71, Train Error: 0.00930, Validation Error: 0.01747, Test Accuracy: 0.99588
Epoch: 72, Train Error: 0.00927, Validation Error: 0.01858, Test Accuracy: 0.99588
Epoch: 73, Train Error: 0.00865, Validation Error: 0.01632, Test Accuracy: 0.99588
Epoch: 74, Train Error: 0.00870, Validation Error: 0.01817, Test Accuracy: 0.99588
Epoch: 75, Train Error: 0.00813, Validation Error: 0.01587, Test Accuracy: 0.99588
Epoch: 76, Train Error: 0.00787, Validation Error: 0.01530, Test Accuracy: 0.99588
Epoch: 77, Train Error: 0.00754, Validation Error: 0.01480, Test Accuracy: 0.99588
Epoch: 78, Train Error: 0.00730, Validation Error: 0.01490, Test Accuracy: 0.99588
Epoch: 79, Train Error: 0.00703, Validation Error: 0.01451, Test Accuracy: 0.99588
Epoch: 80, Train Error: 0.00676, Validation Error: 0.01418, Test Accuracy: 0.99588
Epoch: 81, Train Error: 0.00652, Validation Error: 0.01399, Test Accuracy: 0.99588
Epoch: 82, Train Error: 0.00628, Validation Error: 0.01376, Test Accuracy: 0.99670
Epoch: 83, Train Error: 0.00606, Validation Error: 0.01357, Test Accuracy: 0.99670
Epoch: 84, Train Error: 0.00585, Validation Error: 0.01335, Test Accuracy: 0.99670
Epoch: 85, Train Error: 0.00566, Validation Error: 0.01319, Test Accuracy: 0.99670
Epoch: 86, Train Error: 0.00553, Validation Error: 0.01381, Test Accuracy: 0.99753
Epoch: 87, Train Error: 0.00537, Validation Error: 0.01383, Test Accuracy: 0.99753
Epoch: 88, Train Error: 0.00522, Validation Error: 0.01362, Test Accuracy: 0.99753
Epoch: 89, Train Error: 0.00506, Validation Error: 0.01343, Test Accuracy: 0.99753
Epoch: 90, Train Error: 0.00491, Validation Error: 0.01323, Test Accuracy: 0.99753
Epoch: 91, Train Error: 0.00476, Validation Error: 0.01301, Test Accuracy: 0.99753
Epoch: 92, Train Error: 0.00461, Validation Error: 0.01275, Test Accuracy: 0.99835
Epoch: 93, Train Error: 0.00447, Validation Error: 0.01248, Test Accuracy: 0.99835
Epoch: 94, Train Error: 0.00434, Validation Error: 0.01226, Test Accuracy: 0.99835
Epoch: 95, Train Error: 0.00420, Validation Error: 0.01201, Test Accuracy: 0.99835
Epoch: 96, Train Error: 0.00407, Validation Error: 0.01173, Test Accuracy: 0.99918
Epoch: 97, Train Error: 0.00398, Validation Error: 0.01171, Test Accuracy: 0.99918
Epoch: 98, Train Error: 0.00383, Validation Error: 0.01134, Test Accuracy: 0.99918
Epoch: 99, Train Error: 0.00368, Validation Error: 0.01078, Test Accuracy: 0.99918