In [1]:
import urllib2
#import urllib
from scipy import stats
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data'
#raw_csv = urllib.request.urlopen(path)
raw_csv = urllib2.urlopen(path)
col_names = range(23)
df = pd.read_csv(raw_csv, names = col_names)
print(len(df))

8124

In [2]:
df.head()

  0  1  2  3  4  5  6  7  8  9  ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

In [3]:
num_columns = df.shape[1]
map_dic = {}
for i in range(num_columns):
    unique_array = df[i].unique()
    N = len(unique_array)
    map_dic[i] = {}
    for j in range(N):
        map_dic[i][unique_array[j]] = j
    df[i] = df[i].map(map_dic[i])

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
2,1,1,0,2,0,2,0,0,1,1,...,0,0,0,0,0,0,0,1,1,2
3,0,0,1,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,3,1,3,0,1,1,0,...,0,0,0,0,0,0,1,1,2,1

In [5]:
for i in range(1, num_columns):
    unique_array = df[i].unique()
    N = len(unique_array)
    map_dic_sub = {}
    for j in range(N):
        if j == 0:
            map_dic_sub[j] = 0
        else:
            map_dic_sub[j] = j / float(N - 1)        
    df[i] = df[i].map(map_dic_sub)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,0.0,0.000000,0.000000,0.0,0.000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
1,1,0.0,0.000000,0.111111,0.0,0.125,0.0,0.0,1.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.166667
2,1,0.2,0.000000,0.222222,0.0,0.250,0.0,0.0,1.0,0.090909,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.333333
3,0,0.0,0.333333,0.222222,0.0,0.000,0.0,0.0,0.0,0.090909,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
4,1,0.0,0.000000,0.333333,1.0,0.375,0.0,1.0,1.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.25,0.125,0.4,0.166667

In [7]:
data_df = df.iloc[:, 1:]

In [8]:
data_df.head()

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
0,0.0,0.000000,0.000000,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
1,0.0,0.000000,0.111111,0.0,0.125,0.0,0.0,1.0,0.000000,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.166667
2,0.2,0.000000,0.222222,0.0,0.250,0.0,0.0,1.0,0.090909,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.333333
3,0.0,0.333333,0.222222,0.0,0.000,0.0,0.0,0.0,0.090909,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
4,0.0,0.000000,0.333333,1.0,0.375,0.0,1.0,1.0,0.000000,1.0,...,0.0,0.0,0.0,0,0.0,0.0,0.25,0.125,0.4,0.166667

In [9]:
data_array = data_df.as_matrix()

In [10]:
print(type(data_array), data_array.shape)

(<type 'numpy.ndarray'>, (8124, 22))

In [11]:
label_df = df.iloc[:, 0:1]

In [12]:
label_df.head()

   0
0  0
1  1
2  1
3  0
4  1

In [13]:
label_array = label_df.as_matrix()

In [14]:
print(type(label_array), label_array.shape)

(<type 'numpy.ndarray'>, (8124, 1))

In [15]:
label_array_one_hot = []
for i in label_array:
    if i == 0:
        one_hot = [1, 0]
    else:
        one_hot = [0, 1]
    label_array_one_hot.append(one_hot)

In [16]:
label_array_one_hot =  np.array(label_array_one_hot)

In [17]:
print(type(label_array_one_hot), label_array_one_hot.shape)

(<type 'numpy.ndarray'>, (8124, 2))

In [18]:
train = {'data': None, 'labels': None}
validation = {'data': None, 'labels': None}
test = {'data': None, 'labels': None}

In [19]:
import random
pick = random.random()
train_data = []
train_labels = []
validation_data = []
validation_labels = []
test_data = []
test_labels = []
for i in range(len(data_array)):
    pick = random.random()
    if pick < 0.80:
        train_data.append(data_array[i])
        train_labels.append(label_array_one_hot[i])
    elif pick >= 0.80 and pick < 0.85:
        validation_data.append(data_array[i])
        validation_labels.append(label_array_one_hot[i])
    elif pick >= 0.85:
        test_data.append(data_array[i])
        test_labels.append(label_array_one_hot[i])
        
train['data'] = np.array(train_data)
train['labels'] = np.array(train_labels)
validation['data'] = np.array(validation_data)
validation['labels'] = np.array(validation_labels)
test['data'] = np.array(test_data)
test['labels'] = np.array(test_labels)

In [20]:
print(train['data'].shape, train['labels'].shape)

((6458, 22), (6458, 2))

In [21]:
print(validation['data'].shape, validation['labels'].shape)

((426, 22), (426, 2))

In [22]:
print(test['data'].shape, test['labels'].shape)

((1240, 22), (1240, 2))

# Multi Layer Neural Network

In [23]:
import tensorflow as tf

In [24]:
# Parameters
training_epochs = 40
learning_rate = 0.001
batch_size = 1
display_step = 1

# Network Parameters
n_input = 22
n_hidden_1 = 128 # 1st layer number of features
n_hidden_2 = 128 # 2nd layer number of features
n_classes = 2

# tf Graph input
x = tf.placeholder(tf.float32, [None, n_input])
y = tf.placeholder(tf.float32, [None, n_classes])

In [25]:
# Store layers weight & bias
weights = {
    'W1': tf.Variable(tf.random_normal([n_input, n_hidden_1])),
    'W2': tf.Variable(tf.random_normal([n_hidden_1, n_hidden_2])),
    'out': tf.Variable(tf.random_normal([n_hidden_2, n_classes]))
}
biases = {
    'b1': tf.Variable(tf.random_normal([n_hidden_1])),
    'b2': tf.Variable(tf.random_normal([n_hidden_2])),
    'out': tf.Variable(tf.random_normal([n_classes]))
}

# Create model
def multilayer_perceptron(x, weights, biases):
    # Hidden layer with RELU activation
    u_2 = tf.add(tf.matmul(x, weights['W1']), biases['b1'])
    z_2 = tf.nn.relu(u_2)
    # Hidden layer with RELU activation
    u_3 = tf.add(tf.matmul(z_2, weights['W2']), biases['b2'])
    z_3 = tf.nn.relu(u_3)
    # Output layer with linear activation
    u_4 = tf.add(tf.matmul(z_3, weights['out']), biases['out'])
    return u_4

# Construct model
pred = multilayer_perceptron(x, weights, biases)

In [26]:
error = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=pred, labels=y))
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(error)

In [27]:
_index_in_epoch = 0
_epochs_completed = 0
_num_examples = train['data'].shape[0]


def next_train_batch(batch_size):
    global _index_in_epoch
    global _epochs_completed
    global _num_examples
    
    start = _index_in_epoch
    _index_in_epoch += batch_size
    if _index_in_epoch > _num_examples:
        # Finished epoch
        _epochs_completed += 1
        # Shuffle the data
        perm = np.arange(_num_examples)
        np.random.shuffle(perm)
        train['data'] = train['data'][perm]
        train['labels'] = train['labels'][perm]
        # Start next epoch
        start = 0
        _index_in_epoch = batch_size
        assert batch_size <= _num_examples
    end = _index_in_epoch
    return train['data'][start:end], train['labels'][start:end]

In [28]:
import math
# Initializing the variables
init = tf.initialize_all_variables()

# Calculate accuracy with a Test model    
prediction_ground_truth = tf.equal(tf.argmax(pred, 1), tf.argmax(y, 1))
accuracy = tf.reduce_mean(tf.cast(prediction_ground_truth, tf.float32))
    
# Launch the graph
with tf.Session() as sess:
    sess.run(init)
    total_batch = int(math.ceil(_num_examples / float(batch_size)))
    print "Total batch: %d" % total_batch

    # Training cycle
    for epoch in range(training_epochs):
        error_value = sess.run(error, feed_dict={x: train['data'], y: train['labels']})
        print "Epoch %d Finished - Error: %f " % (epoch, error_value),
        # Loop over all batches
        for i in range(total_batch):
            batch_images, batch_labels = next_train_batch(batch_size)
            sess.run(optimizer, feed_dict={x: batch_images, y: batch_labels})
        print "Accuracy: %f" % (accuracy.eval({x: test['data'], y: test['labels']}))
    
    print("Training & Test Finished!")

WARNING:tensorflow:From <ipython-input-28-43f5a81119ad>:3: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.
Total batch: 6458
Epoch 0 Finished - Error: 33.150105  Accuracy: 0.936290
Epoch 1 Finished - Error: 2.047170  Accuracy: 0.962097
Epoch 2 Finished - Error: 0.385089  Accuracy: 1.000000
Epoch 3 Finished - Error: 0.000003  Accuracy: 1.000000
Epoch 4 Finished - Error: 0.000002  Accuracy: 1.000000
Epoch 5 Finished - Error: 0.000002  Accuracy: 1.000000
Epoch 6 Finished - Error: 0.000002  Accuracy: 1.000000
Epoch 7 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 8 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 9 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 10 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 11 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 12 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 13 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 14 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 15 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 16 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 17 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 18 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 19 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 20 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 21 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 22 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 23 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 24 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 25 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 26 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 27 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 28 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 29 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 30 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 31 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 32 Finished - Error: 0.000001  Accuracy: 1.000000
Epoch 33 Finished - Error: 0.000000  Accuracy: 1.000000
Epoch 34 Finished - Error: 0.000000  Accuracy: 1.000000
Epoch 35 Finished - Error: 0.000000  Accuracy: 1.000000
Epoch 36 Finished - Error: 0.000000  Accuracy: 1.000000
Epoch 37 Finished - Error: 0.000000  Accuracy: 1.000000
Epoch 38 Finished - Error: 0.000000  Accuracy: 1.000000
Epoch 39 Finished - Error: 0.000000  Accuracy: 1.000000
Training & Test Finished!