## 독버섯 vs. 식용버섯 - Multi-layer Neural Network 로 구분하기

1) Loading Data

In [25]:
import urllib
from scipy import stats
from pandas import Series, DataFrame
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
%matplotlib inline

path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data'
raw_csv = urllib.request.urlopen(path)
col_names = range(23)
df = pd.read_csv(raw_csv, names = col_names)
print(len(df))

8124

In [26]:
df.head()

  0  1  2  3  4  5  6  7  8  9  ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

2) Categorical Attribute 를 Numerical Attribute 로 변환

In [27]:
num_columns = df.shape[1]
map_dic = {}
for i in range(num_columns):
    unique_array = df[i].unique()
    N = len(unique_array)
    map_dic[i] = {}
    for j in range(N):
        map_dic[i][unique_array[j]] = j
    df[i] = df[i].map(map_dic[i])

In [28]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
2,1,1,0,2,0,2,0,0,1,1,...,0,0,0,0,0,0,0,1,1,2
3,0,0,1,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,3,1,3,0,1,1,0,...,0,0,0,0,0,0,1,1,2,1

3) 각 컬럼별 Normalization

In [29]:
for i in range(1, num_columns):
    unique_array = df[i].unique()
    N = len(unique_array)
    map_dic_sub = {}
    for j in range(N):
        if j == 0:
            map_dic_sub[j] = 0
        else:
            map_dic_sub[j] = j / float(N - 1)        
    df[i] = df[i].map(map_dic_sub)

In [30]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0,0.0,0.000000,0.000000,0.0,0.000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
1,1,0.0,0.000000,0.111111,0.0,0.125,0.0,0.0,1.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.166667
2,1,0.2,0.000000,0.222222,0.0,0.250,0.0,0.0,1.0,0.090909,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.333333
3,0,0.0,0.333333,0.222222,0.0,0.000,0.0,0.0,0.0,0.090909,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
4,1,0.0,0.000000,0.333333,1.0,0.375,0.0,1.0,1.0,0.000000,...,0.0,0.0,0.0,0,0.0,0.0,0.25,0.125,0.4,0.166667

4) 데이터 전처리 작업

In [31]:
data_df = df.iloc[:, 1:]

In [32]:
data_df.head()

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
0,0.0,0.000000,0.000000,0.0,0.000,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
1,0.0,0.000000,0.111111,0.0,0.125,0.0,0.0,1.0,0.000000,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.166667
2,0.2,0.000000,0.222222,0.0,0.250,0.0,0.0,1.0,0.090909,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.125,0.2,0.333333
3,0.0,0.333333,0.222222,0.0,0.000,0.0,0.0,0.0,0.090909,0.0,...,0.0,0.0,0.0,0,0.0,0.0,0.00,0.000,0.0,0.000000
4,0.0,0.000000,0.333333,1.0,0.375,0.0,1.0,1.0,0.000000,1.0,...,0.0,0.0,0.0,0,0.0,0.0,0.25,0.125,0.4,0.166667

In [33]:
data_array = data_df.as_matrix()

In [34]:
print(type(data_array), data_array.shape)

<class 'numpy.ndarray'> (8124, 22)

In [35]:
label_df = df.iloc[:, 0:1]

In [36]:
label_df.head()

   0
0  0
1  1
2  1
3  0
4  1

In [37]:
label_array = label_df.as_matrix()

In [38]:
print(type(label_array), label_array.shape)

<class 'numpy.ndarray'> (8124, 1)

In [39]:
label_array_one_hot = []
for i in label_array:
    if i == 0:
        one_hot = [1, 0]
    else:
        one_hot = [0, 1]
    label_array_one_hot.append(one_hot)

In [40]:
label_array_one_hot =  np.array(label_array_one_hot)

In [41]:
print(type(label_array_one_hot), label_array_one_hot.shape)

<class 'numpy.ndarray'> (8124, 2)

In [42]:
train = {'data': None, 'labels': None}
validation = {'data': None, 'labels': None}
test = {'data': None, 'labels': None}

In [43]:
import random
pick = random.random()
train_data = []
train_labels = []
validation_data = []
validation_labels = []
test_data = []
test_labels = []
for i in range(len(data_array)):
    pick = random.random()
    if pick < 0.80:
        train_data.append(data_array[i])
        train_labels.append(label_array_one_hot[i])
    elif pick >= 0.80 and pick < 0.85:
        validation_data.append(data_array[i])
        validation_labels.append(label_array_one_hot[i])
    elif pick >= 0.85:
        test_data.append(data_array[i])
        test_labels.append(label_array_one_hot[i])
        
train['data'] = np.array(train_data)
train['labels'] = np.array(train_labels)
validation['data'] = np.array(validation_data)
validation['labels'] = np.array(validation_labels)
test['data'] = np.array(test_data)
test['labels'] = np.array(test_labels)

In [44]:
print(train['data'].shape, train['labels'].shape)

(6535, 22) (6535, 2)

In [45]:
print(validation['data'].shape, validation['labels'].shape)

(375, 22) (375, 2)

In [46]:
print(test['data'].shape, test['labels'].shape)

(1214, 22) (1214, 2)

## Multi-layer Neural Network 모델 생성 및 테스트하기

In [61]:


## 
batch_size = 10
training_epochs = 50
learning_rate = 0.05

epoch_list = []
train_error_list = []
validation_error_list = []
test_accuracy_list = []
diff_index_list = []

# Network Parameters
n_input = 22
n_hidden_1 = 11
n_hidden_2 = 11
n_classes = 2

# Data Preparation
x = tf.placeholder(tf.float32, [None, n_input])
y_target = tf.placeholder(tf.float32, [None, n_classes])

#Store layers weight & bias
weights = {
    'W1':tf.Variable(tf.random_normal([n_input, n_hidden_1])),
    'W2':tf.Variable(tf.random_normal([n_hidden_1, n_hidden_2])),
    'out':tf.Variable(tf.random_normal([n_hidden_2, n_classes]))
}

biases = {
    'b1':tf.Variable(tf.random_normal([n_hidden_1])),
    'b2':tf.Variable(tf.random_normal([n_hidden_2])),
    'out':tf.Variable(tf.random_normal([n_classes]))
}

# 1st Hidden layer with RELU activation
u2 = tf.matmul(x, weights['W1']) + biases['b1']
z2 = tf.nn.relu(u2)

# 2nd Hidden layer with RELU activation
u3 = tf.matmul(z2, weights['W2']) + biases['b2']
z3 = tf.nn.relu(u3)

# Output layer with linear activation
u_out = tf.matmul(z3, weights['out']) + biases['out']

# Target Setup
error = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(logits=u_out, labels=y_target))
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(error)

# Accuracy
prediction_and_ground_truth = tf.equal(tf.argmax(u_out, 1), tf.argmax(y_target, 1))
accuracy = tf.reduce_mean(tf.cast(prediction_and_ground_truth, tf.float32))

In [62]:

with tf.Session() as sess:
    init = tf.global_variables_initializer()
    sess.run(init)
    
    total_batch = int(math.ceil(len(train['data'])/float(batch_size)))
    print("Total batch: %d" % total_batch)
    for epoch in range(training_epochs):
        epoch_list.append(epoch)
        # Train Error Value
        train_error_value = sess.run(error, feed_dict={x: train['data'], y_target: train['labels']})
        train_error_list.append(train_error_value)
        
        validation_error_value = sess.run(error, feed_dict={x: validation['data'], y_target: validation['labels']})
        validation_error_list.append(validation_error_value)
        
        test_accuracy_value = sess.run(accuracy, feed_dict={x: test['data'], y_target: test['labels']})
        test_accuracy_list.append(test_accuracy_value) 
        print("Epoch: {0:2d}, Train Error: {1:0.5f}, Validation Error: {2:0.5f}, Test Accuracy: {3:0.5f}".format(epoch, train_error_value, validation_error_value, test_accuracy_value))
        
        for i in range(total_batch):
            batch_data = train['data'][i*batch_size: (i+1)*batch_size]
            batch_labels = train['labels'][i*batch_size: (i+1)*batch_size]
            sess.run(optimizer, feed_dict={x: batch_data, y_target: batch_labels})

Total batch: 654
Epoch:  0, Train Error: 42.46759, Validation Error: 39.46195, Test Accuracy: 0.51236
Epoch:  1, Train Error: 2.59336, Validation Error: 2.65060, Test Accuracy: 0.45552
Epoch:  2, Train Error: 1.62823, Validation Error: 1.66310, Test Accuracy: 0.55601
Epoch:  3, Train Error: 0.68522, Validation Error: 0.68940, Test Accuracy: 0.73311
Epoch:  4, Train Error: 0.35493, Validation Error: 0.33325, Test Accuracy: 0.87397
Epoch:  5, Train Error: 0.25191, Validation Error: 0.21513, Test Accuracy: 0.91763
Epoch:  6, Train Error: 0.20490, Validation Error: 0.16471, Test Accuracy: 0.93245
Epoch:  7, Train Error: 0.16593, Validation Error: 0.12671, Test Accuracy: 0.94316
Epoch:  8, Train Error: 0.13495, Validation Error: 0.09913, Test Accuracy: 0.94728
Epoch:  9, Train Error: 0.10811, Validation Error: 0.07677, Test Accuracy: 0.95964
Epoch: 10, Train Error: 0.08750, Validation Error: 0.05990, Test Accuracy: 0.96623
Epoch: 11, Train Error: 0.07275, Validation Error: 0.04638, Test Accuracy: 0.97199
Epoch: 12, Train Error: 0.06027, Validation Error: 0.03665, Test Accuracy: 0.97611
Epoch: 13, Train Error: 0.05304, Validation Error: 0.03010, Test Accuracy: 0.97858
Epoch: 14, Train Error: 0.04437, Validation Error: 0.02443, Test Accuracy: 0.98105
Epoch: 15, Train Error: 0.03851, Validation Error: 0.02044, Test Accuracy: 0.98517
Epoch: 16, Train Error: 0.03366, Validation Error: 0.01736, Test Accuracy: 0.98764
Epoch: 17, Train Error: 0.02928, Validation Error: 0.01445, Test Accuracy: 0.98929
Epoch: 18, Train Error: 0.02540, Validation Error: 0.01214, Test Accuracy: 0.99094
Epoch: 19, Train Error: 0.02198, Validation Error: 0.01026, Test Accuracy: 0.99176
Epoch: 20, Train Error: 0.01908, Validation Error: 0.00863, Test Accuracy: 0.99176
Epoch: 21, Train Error: 0.01646, Validation Error: 0.00728, Test Accuracy: 0.99423
Epoch: 22, Train Error: 0.01416, Validation Error: 0.00610, Test Accuracy: 0.99506
Epoch: 23, Train Error: 0.01212, Validation Error: 0.00520, Test Accuracy: 0.99506
Epoch: 24, Train Error: 0.01037, Validation Error: 0.00446, Test Accuracy: 0.99588
Epoch: 25, Train Error: 0.00877, Validation Error: 0.00380, Test Accuracy: 0.99671
Epoch: 26, Train Error: 0.00745, Validation Error: 0.00323, Test Accuracy: 0.99671
Epoch: 27, Train Error: 0.00604, Validation Error: 0.00280, Test Accuracy: 0.99918
Epoch: 28, Train Error: 0.00470, Validation Error: 0.00234, Test Accuracy: 0.99918
Epoch: 29, Train Error: 0.00370, Validation Error: 0.00204, Test Accuracy: 0.99918
Epoch: 30, Train Error: 0.00302, Validation Error: 0.00180, Test Accuracy: 0.99918
Epoch: 31, Train Error: 0.00252, Validation Error: 0.00159, Test Accuracy: 1.00000
Epoch: 32, Train Error: 0.00215, Validation Error: 0.00140, Test Accuracy: 1.00000
Epoch: 33, Train Error: 0.00185, Validation Error: 0.00123, Test Accuracy: 1.00000
Epoch: 34, Train Error: 0.00161, Validation Error: 0.00109, Test Accuracy: 1.00000
Epoch: 35, Train Error: 0.00142, Validation Error: 0.00098, Test Accuracy: 1.00000
Epoch: 36, Train Error: 0.00126, Validation Error: 0.00089, Test Accuracy: 1.00000
Epoch: 37, Train Error: 0.00112, Validation Error: 0.00080, Test Accuracy: 1.00000
Epoch: 38, Train Error: 0.00100, Validation Error: 0.00073, Test Accuracy: 1.00000
Epoch: 39, Train Error: 0.00090, Validation Error: 0.00067, Test Accuracy: 1.00000
Epoch: 40, Train Error: 0.00081, Validation Error: 0.00061, Test Accuracy: 1.00000
Epoch: 41, Train Error: 0.00074, Validation Error: 0.00057, Test Accuracy: 1.00000
Epoch: 42, Train Error: 0.00067, Validation Error: 0.00053, Test Accuracy: 1.00000
Epoch: 43, Train Error: 0.00062, Validation Error: 0.00049, Test Accuracy: 1.00000
Epoch: 44, Train Error: 0.00057, Validation Error: 0.00046, Test Accuracy: 1.00000
Epoch: 45, Train Error: 0.00053, Validation Error: 0.00044, Test Accuracy: 1.00000
Epoch: 46, Train Error: 0.00049, Validation Error: 0.00042, Test Accuracy: 1.00000
Epoch: 47, Train Error: 0.00046, Validation Error: 0.00040, Test Accuracy: 1.00000
Epoch: 48, Train Error: 0.00043, Validation Error: 0.00038, Test Accuracy: 1.00000
Epoch: 49, Train Error: 0.00040, Validation Error: 0.00036, Test Accuracy: 1.00000